:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #2a5caa;
  --button-text: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --button-bg: #ff6b35;
  --button-text: #ffffff;
}

[data-theme="light"] {
  --bg-color: #f5f5f5;
  --text-color: #121212;
  --button-bg: #471604;
  --button-text: #ffffff;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-container {
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}